<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @category.state %>
</p>

<p>
  <strong>Verticle:</strong>
  <%= @category.verticle_id %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
